<form hx-post="{% url 'toggle_workflow_status' workflow.pk %}" hx-target="this" hx-swap="outerHTML" class="flex">
    {% csrf_token %}
    <button type="submit" class="relative inline-flex h-6 w-11 flex-shrink-0 cursor-pointer rounded-full border-2 border-transparent transition-colors duration-200 ease-in-out focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 {% if workflow.is_active %}bg-emerald-500{% else %}bg-slate-300{% endif %}" role="switch" aria-checked="{{ workflow.is_active|lower }}">
        <span aria-hidden="true" class="pointer-events-none inline-block h-5 w-5 transform rounded-full bg-white shadow ring-0 transition duration-200 ease-in-out {% if workflow.is_active %}translate-x-5{% else %}translate-x-0{% endif %}"></span>
    </button>
</form>
